/- if @pages.any?
/  ul.pages
/    - @pages.each do |p|
/    li.page
/      = link_to(p.title, p)
- if @pages.any?
  ul.pages
  - @pages.each do |p|
    li.page = link_to(p.title, p)


= render partial: 'shared/crud_buttons', locals: { resource: Page }

- breadcrumb :pages
