---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157647753138397&user_id=62829091%40N05&extras=date_taken%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="7d48f7eacbb2cc9033c2e84b7f1b1d1b",
        oauth_nonce="hcm3WyYpuiMcMOBO4kb1i%2B3ekpcrZkFd%2FlNGj8dE%2FcA%3D", oauth_signature="2ab73df317f343e1%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1431721922", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157647753138397","primary":"13362508473","owner":"62829091@N05","ownername":"maxcalabrese","photo":[{"id":"13362508473","secret":"73945d3830","server":"7300","farm":8,"title":"\u00c5re
        Kiteskola. Offpistcamp, Mars 2014","isprimary":"1","ispublic":1,"isfriend":0,"isfamily":0,"datetaken":"2014-03-22
        17:48:30","datetakengranularity":"0","datetakenunknown":0,"url_sq":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830_s.jpg","height_sq":75,"width_sq":75,"url_t":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830_t.jpg","height_t":"100","width_t":"67","url_s":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830_m.jpg","height_s":"240","width_s":"160","url_m":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830.jpg","height_m":"500","width_m":"333","url_o":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_018da002d0_o.jpg","height_o":"4256","width_o":"2832"},{"id":"8643528260","secret":"ecdfeeeac2","server":"8522","farm":9,"title":"DSC_7579.jpg","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0,"datetaken":"2013-04-12
        14:54:11","datetakengranularity":"0","datetakenunknown":0,"url_sq":"https:\/\/farm9.staticflickr.com\/8522\/8643528260_ecdfeeeac2_s.jpg","height_sq":75,"width_sq":75,"url_t":"https:\/\/farm9.staticflickr.com\/8522\/8643528260_ecdfeeeac2_t.jpg","height_t":"67","width_t":"100","url_s":"https:\/\/farm9.staticflickr.co[...]
