---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157642806447225&user_id=62829091%40N05&extras=date_taken%2Curl_q%2Curl_t%2Curl_s%2Curl_m%2Curl_o&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="7d48f7eacbb2cc9033c2e84b7f1b1d1b",
        oauth_nonce="1mjAc2WOz00WN6b9F6Kr2d%2F2gkcfgz7bKmuMKWdI8E4%3D", oauth_signature="2ab73df317f343e1%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1431722831", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157642806447225","primary":"13362324935","owner":"62829091@N05","ownername":"maxcalabrese","photo":[{"id":"13362324935","secret":"792aed9e58","server":"7072","farm":8,"title":"\u00c5re
        Kiteskola. Offpistcamp, Mars 2014","isprimary":"1","ispublic":1,"isfriend":0,"isfamily":0,"datetaken":"2014-03-22
        14:41:16","datetakengranularity":"0","datetakenunknown":0,"url_q":"https:\/\/farm8.staticflickr.com\/7072\/13362324935_792aed9e58_q.jpg","height_q":"150","width_q":"150","url_t":"https:\/\/farm8.staticflickr.com\/7072\/13362324935_792aed9e58_t.jpg","height_t":"67","width_t":"100","url_s":"https:\/\/farm8.staticflickr.com\/7072\/13362324935_792aed9e58_m.jpg","height_s":"160","width_s":"240","url_m":"https:\/\/farm8.staticflickr.com\/7072\/13362324935_792aed9e58.jpg","height_m":"333","width_m":"500","url_o":"https:\/\/farm8.staticflickr.com\/7072\/13362324935_65da677121_o.jpg","height_o":"2832","width_o":"4256"},{"id":"13362331205","secret":"7191376923","server":"7165","farm":8,"title":"\u00c5re
        Kiteskola. Offpistcamp, Mars 2014","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0,"datetaken":"2014-03-22
        14:41:29","datetakengranularity":"0","datetakenunknown":0,"url_q":"https:\/\/farm8.staticflickr.com\/7165\/13362331205_7191376923_q.jpg","height_q":"150","width_q":"150","url_t":"https:\/\/farm8.staticflickr.com\/7165\/13362331205_7191376923_t.jpg","height_t":"67","width_t":"1[...]
