---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=62829091%40N05&primary_photo_extras=url_sq%2C+url_t%2C+url_s%2C+url_m%2C+url_o&method=flickr.photosets.getList&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="7d48f7eacbb2cc9033c2e84b7f1b1d1b",
        oauth_nonce="Vp2LNCJRXCS4GFRBz4ck53yxtGaWRLcDD0shzwj0wg4%3D", oauth_signature="2ab73df317f343e1%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1431631336", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photosets":{"page":1,"pages":1,"perpage":10,"total":10,"photoset":[{"id":"72157647753138397","primary":"13362508473","secret":"73945d3830","server":"7300","farm":8,"photos":"10","videos":0,"title":{"_content":"Showcase"},"description":{"_content":"Test description"},"needs_interstitial":0,"visibility_can_see_set":1,"count_views":"0","count_comments":"0","can_comment":0,"date_create":"1411992696","date_update":"1420398843","primary_photo_extras":{"url_sq":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830_s.jpg","height_sq":75,"width_sq":75,"url_t":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830_t.jpg","height_t":"100","width_t":"67","url_s":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830_m.jpg","height_s":"240","width_s":"160","url_m":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_73945d3830.jpg","height_m":"500","width_m":"333","url_o":"https:\/\/farm8.staticflickr.com\/7300\/13362508473_018da002d0_o.jpg","height_o":"4256","width_o":"2832"}},{"id":"72157642806447225","primary":"13362324935","secret":"792aed9e58","server":"7072","farm":8,"photos":"11","videos":0,"title":{"_content":"Offpistcamp,
        Mars 2014"},"description":{"_content":""},"needs_interstitial":0,"visibility_can_see_set":1,"count_views":"18","count_comments":"0","can_comment":0,"date_create":"1395604793","date_update":"1420398843","primary_photo_extras":{"url_sq":"https:\/\/farm8.staticflickr.com\/7072\/13362324935_792aed9e58_s.jpg","height_sq":75,"width[...]
